/*CITE https://unsplash.com/photos/variety-of-sliced-fruits-08bOYnH_r_E*/

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
  }

body {
    font-family: 'Raleway', sans-serif;
    color: black;
  
    /* The image used */
    background-image: url("/static/cookingbackground.jpg");
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

form {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

button {
    width: 130px;
    height: auto;

}

.container {
  position: absolute; 
  right: 15%;
  top: 50%; 
  transform: translateY(-50%); 
  width: 80%;
  max-width: 400px; 
  text-align: left; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding-right: 20px; 
}


@media (max-width: 768px) {
  .container {
      right: 5%; 
      width: 90%; 
      padding-right: 10px; 
  }

  form {
      gap: 10px;
  }

  button {
    width: 130px;
      height: auto; 
  }
}
